.TransactionList-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    position: relative;
}
.TransactionList-h2 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 22px;
    margin: 15px 0;
}

#transactions {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    height: calc(100% - 52px);
    padding: 0;
    color: #333;
}

#transactions tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 100%;
}
#transactions thead tr {
    display: block;
}
#transactions thead th {
    background-color: #333;
}
#transactions tbody tr td, #transactions thead tr th {
    border: .1px solid #333;
    padding: 8px;
    width: 500px;
  }
tr:nth-child(even) {
    background-color: #ddd;
  }
#transactions tr:hover {background-color: #eee;}

.color-charc {
    color: #333;
}
.color-white {
    color: #fff;
}
.bold {
    font-weight: bold;
}

.transaction-data {
    padding: 20px;
    display: flex;
    width: 100%;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.center {
    text-align: center;
}
.category {
    text-align: left;
    padding: 0;
    text-decoration: none;
}

.active {
    color: rgba(0, 0, 255, 1);
}
@media (max-width: 490px) {
    .Transaction-container {
        font-size: 16px;
    }
}