.TransactionList-container {
    background-color: rgba(255, 255, 255, .6);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TransactionList-h2 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-weight: 600;
    font-size: 22px;
    margin: 15px 0;
}
.TransactionList-list {
    background-color: rgba(255, 255, 255, .0);
    width: 100%;
    max-height: 550px;
    overflow-y: scroll;
    box-shadow: 10px;
}
.Transaction-container {
    background-color: rgba(255, 255, 255, .0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.center {
    text-align: center;
}
@media (max-width: 490px) {
    .Transaction-container {
        padding: 17px;
    }
}