.TransactionList-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.TransactionList-h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}