.Chart-container {
    background-color: #fff;
    text-decoration: none;
    color: #333;
    position: relative;
    padding: 10px;
}

/* div {
    background-color: rgba(255, 96, 131, 0.6);
    background-color: rgba(54, 162, 235, .6);
    background-color: rgba(255, 206, 86, .6);
    background-color: rgba(75, 192, 86, .6);
} */