
.App {
  display: grid;
  grid-template-rows: 2;
  grid-template-areas: 
    'header'
    'dashboard';
  font-family: 'Montserrat', sans-serif;
  height: calc(100vh - 70px);
  max-width: 1080px;
  margin: 0 auto;
}
.Header-container {
  grid-area: header;
}
.Dashboard-container {
  grid-area: dashboard;
}




