.BarChart-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chartjs-render-monitor {
    position: relative;
    width: 100%;
}
canvas {
    position: relative;
    width: 100%;
}
