
.App {
  background-color: #ddd;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    'header header' 
    'side main'
    ;
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 100vh;
}
.Header-container {
  grid-area: header;
}
.SideNav-container {
  grid-area: side;
}
.main-container {
  grid-area: main;
}

@media (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'header'
    'main'
    'side';
    height: auto;
  }
}




