
.App {
  background-color: #D9D9DC;
  display: grid;
  grid-template-columns: 130px minmax(500px, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 
    'header dashboard'
    ;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  width: auto;
}
.Header-container {
  grid-area: header;
}
.Dashboard-container {
  grid-area: dashboard;
}

@media (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    'header'
    'dashboard';
  }
}




