.Header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A324B;
    height: 65px;
    margin-bottom: 10px;
}
.Header-ul {
    display: flex;
    list-style: none;
}
.Header-h1 {
    color: white;
    font-size: 30px;
}