
.Dashboard-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        'Balance Transactions'
        'AddTrans Transactions'
        ;
    border-radius: 20px;
}
.AddTransaction-container {
    grid-area: AddTrans;
}
.TransactionList-container {
    grid-area: Transactions;
}
.Balance-container {
    grid-area: Balance;
}
@media (max-width: 420px) {
    .Dashboard-container {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        grid-auto-rows: repeat(3, 1fr);
        grid-template-areas:
            'Balance'
            'AddTrans'
            'Transactions'
            'Transations'
            ;
    }
    .AddTransaction-container {
        grid-area: AddTrans;
    }
    .TransactionList-container {
        grid-area: Transactions;
    }
    .Balance-container {
        grid-area: Balance;
    }
}
