
.Dashboard-container {
    background-color: #333;
    background-image: url("../../Images/bg-image.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: calc(100vh - 50px);
    max-width: 1080px;
    margin: 5px;
    display: grid;
    padding: 5px;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
        '. AddTrans AddTrans Transactions'
        '. . Balance Transactions'
        '. . . Transactions';
}
.AddTransaction-container {
    grid-area: AddTrans;
}
.TransactionList-container {
    grid-area: Transactions;
}
.Balance-container {
    grid-area: Balance;
}
@media (max-width: 490px) {
    .Dashboard-container {
        grid-template-columns: 1fr;
        grid-template-rows: 15vh 45vh auto;
        grid-template-areas:
            'Balance'
            'Transactions'
            'AddTrans';
    }
    .AddTransaction-container {
        grid-area: AddTrans;
    }
    .TransactionList-container {
        grid-area: Transactions;
    }
    .Balance-container {
        grid-area: Balance;
    }
}
