
.Dashboard-container {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: grid;
    padding: 5px;
    margin: 20px 20px 10px 20px;
    grid-gap: 7px;
    grid-template-columns: repeat(4, minmax(250px, auto));
    grid-template-rows: 10vh 25vh auto auto;
    grid-template-areas:
        'AddTrans Chart Chart Balance'
        'AddTrans Chart Chart Balance'
        'TransactionList TransactionList TransactionList Transaction'
        'TransactionList TransactionList TransactionList Transaction'
        ;
    width: auto;
}

.AddTransaction-container {
    grid-area: AddTrans;
}
.Chart-container {
    grid-area: Chart;
}
.TransactionList-container {
    grid-area: TransactionList;
}
.TransDetail-container {
    grid-area: Transaction;
}
.Balance-container {
    grid-area: Balance;
}
@media (max-width: 768px) {
    .Dashboard-container {
        grid-template-columns: 1fr;
        grid-template-rows: 15vh 40vh auto 40vh 40vh;
        grid-template-areas:
            'Balance'
            'Chart'
            'TransactionList'
            'Transaction'
            'AddTrans';
    }
}
@media (max-width: 490px) {
}
