.AddTransaction-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, .6);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.AddTransaction-h2 {
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    color: #333;
    margin-bottom: 15px;
    font-size: 22px;
}
form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    
}
button.AddTransaction-btn {
    border: 1px solid #777;
    background-color: #777;
    color: #fff;
    padding: 15px;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
}
.AddTransaction-btn:hover {
    border-bottom: 1px solid #333;
    background-color: #333;
}
.input-field, #category {
    background-color: rgba(255, 255, 255, .0);
    width: 100%;
    padding: 10px;
    margin-right: 5px;
    border: none;
    border-bottom: 2px solid #333;
}

input:focus {
    outline: none;
}
input:valid, select:valid {
    border: 2px solid rgb(0, 200, 0);
}
@media (max-width: 490px) {
    form {
        flex-direction: column;
    }
    .AddTransaction-h2 {
        font-size: 25px;
    }
}