.AddTransaction-container {
    padding: 20px;
    background-color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.AddTransaction-h2 {
    font-family: 'Montserrat', sans-serif;
    color: #2A324B;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 28px;
}
.AddTransaction-flex-wrapper {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.AddTransaction-btn {
    border: 1px solid #2A324B;
    color: #2A324B;
    padding: 10px 15px;
    border-radius: 6px;
    transition: 500ms;
}
.AddTransaction-btn:hover {
    border: 1px solid #2A324B;
    background-color: #2A324B;
    color: white;
    
}
@media (max-width: 490px) {
    .AddTransaction-container {
        border-bottom-left-radius: 0;
    }
}