.Transaction-container {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Transaction-container > p {
    padding-bottom: 5px;
    font-size: 15px;
}